/*Se ingresa n las variables tal y como se planearon en la guía de estilos */


:root {
    /*Primary Color */

    --color-primary-950: #222145;
    --color-primary-900: #393B76;
    --color-primary-800: #3D3D8F;
    --color-primary-700: #4C4BB7;
    --color-primary-600: #5B5BD0;
    --color-primary-500: #767EDE;
    --color-primary-400: #919EE8;
    --color-primary-300: #B0BFF1;
    --color-primary-200: #CED8F7;
    --color-primary-100: #E4EAFB;
    --color-primary-50:  #F0F4FD;


   /*Secundary color*/

    --color-secundary-950: #141F1E;
    --color-secundary-900: #2A3736;
    --color-secundary-800: #2F403F;
    --color-secundary-700: #364F4D;
    --color-secundary-600: #41605D;
    --color-secundary-500: #537975;
    --color-secundary-400: #6D948F;
    --color-secundary-300: #94B4AF;
    --color-secundary-200: #BDD2CE;
    --color-secundary-100: #DEE9E7;
    --color-secundary-50: #F5F8F7;

    /*Terciary Color*/
    --color-secundary-950: #172554;
    --color-secundary-900: #1E378A;
    --color-secundary-800: #1E3FAF;
    --color-secundary-700: #1D48D8;
    --color-secundary-600: #2552EB;
    --color-secundary-500: #3B66F6;
    --color-secundary-400: #6083FA;
    --color-secundary-300: #93ABFD;
    --color-secundary-200: #BFCDFE;
    --color-secundary-100: #DBE3FE;
    --color-secundary-50: #EFF3FF;


    /*Basic color*/
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-gray-950: #F6F6F6;
    --color-gray-900: #E9E9E9;
    --color-gray-800: #D1D1D1;
    --color-gray-700: #B8B8B8;
    --color-gray-600: #9F9F9F;
    --color-gray-500: #878787;
    --color-gray-400: #6E6E6E;
    --color-gray-300: #565656;
    --color-gray-200: #3D3D3D;
    --color-gray-100: #242424;
    --color-gray-50:  #181818;

    /*Typographic*/

    --font-roboto: "Roboto";
    --font-secondary: "Lora";

     /*Variants typhografic*/
      /* Font weights */
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;


    /*Font size*/
    --fs-xxxxl: 5rem;   /* 128px */
    --fs-xxxl: 4rem;    /* 102.4px */
    --fs-xxl: 3rem;     /* 76.8px */
    --fs-xl: 2.5rem;      /* 64px */
    --fs-lg: 2rem;      /* 51.2px */
    --fs-md: 1.5rem;      /* 38.4px */
    --fs-sm: 1.25rem;      /* 32px */
    --fs-xs: 1rem;      /* Base */
    --fs-xxs: 0.875rem;     /* 22.4px */

    --fs-xxxs: 1.0rem;    /* 16px */
    --fs-xxxs-med: 0.75rem; /* 12px */
    --fs-xxxxs: 0.5rem;   /* 8px */







}